body {
  background-image: linear-gradient(135deg, #f5d5d5 0%, #f9e8ce 50%, #FFF1E6 100%); 
}

.svg-center {
  text-align: center; 
}

.svg-center img {
  max-width: 100%; 
  height: auto;
  display: inline-block; 
}

.text-center {
  font-family: 'Yusei Magic', Arial, sans-serif;
  font-size: 120px; 
  text-shadow: 2px 1px 0px #c1566a;
  text-align: center;
  padding: 20px;
  margin-top: 10px;
}

.mission-statement, .faq, .contact {
  font-family: 'Yusei Magic', Arial, sans-serif;
  text-align: center;
  font-size: 50px; 
  font-weight: bold;
  text-shadow: 2px 1px 0px #c1566a;
  padding: 20px;
  margin-top: 10px;
  color: #fccd7b;
  letter-spacing: 4px; /* Adjust the value as needed */
}

.specifics {
  font-family: 'Yusei Magic', Arial, sans-serif;
  font-size: 30px; 
  text-align: center;
  font-weight: 500; 
  color: #c1566a;
  text-shadow: 2px 1px 0px #f9e3bd;
}

.mission-container {
  border-radius: 10px;
  padding: 25px;
  text-align: justify;
  background-color: rgba(243, 158, 158, 0.1); 
}

.faq-container {
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 20px;
  text-align: justify;
  background-color: rgba(243, 158, 158, 0.1); 
}

.contact-container{
  border-radius: 10px;
  padding: 25px;
  margin-bottom: 100px;
  text-align: justify;
  background-color: rgba(243, 158, 158, 0.1); 
  flex: 1; 
}

.about-para {
  color: #c1566a;
  font-family: 'Yusei Magic', Arial, sans-serif;
  text-align: center;
  font-size: 22px; 
  text-shadow: 2px 1px 0px #f9e3bd;
}

.reach-out {
  display: flex;
  margin-bottom: 100px;
}

.learning-center {
  position: relative;
  bottom: 50px; /* Adjust the value as needed */
}
