.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;  
  background-color: #fff; 
}

.reflection-page {
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  font-size: 67px;
  font-weight: bold;
  text-shadow: 1px 1px 0px #c1566a;
  color: #fccd7b;
  letter-spacing: 4px;
  margin-top: 180px;  
}

.module-note {
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #c1566a;
  letter-spacing: 4px;
  padding: 10px;
}

.write-reflection {
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  font-size: 19px;
  color: #1f1e1e;
  text-shadow: 1px 2px 0px #f9e3bd;
}

.reflection-content {
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: transparent; 
}

.post.card {
  margin: 10px;
  padding: 15px;
  background-color: #f8f9fa;  
  border-radius: 5px;  
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  width: calc(100% - 30px);  
}

.reflection-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; 
  background: none; 
  width: 100%; 
  box-sizing: border-box; 
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;  
}

.anonymous-label {
  display: flex;
  align-items: center;
}

.submit-button {
  background-color: #7a787a;
  color: #fff;
  border: none;
  border-radius: 2px;
  padding: 5px 10px; 
  cursor: pointer;
}

.submit-button:hover {
  background-color: #0056b3;
}


.profile-image {
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  margin-right: 20px; 
  object-fit: cover; 
}

.post-header {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
}

.post-author, .post-text {
  display: inline-block; 
  vertical-align: top; 
}


.submit-button {
  margin-top: 15px;
  background: #ecc1cb;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  border: none;
  margin-right: 0.5em;
  transition: 0.15s;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 24px;
  font-family: 'Yusei Magic';
}

.submit-button:hover {
  background: #86b9d8;
  color: white;
}

.submit-button:disabled {
  cursor: not-allowed;
}
