.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;  
  background-color: #fff; 
}

.reflection-page {
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  font-size: 67px;
  font-weight: bold;
  letter-spacing: 4px;
  margin-top: 100px;  
  background: linear-gradient(to right, #c1566a, #86b9d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.module-note {
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 10px;
  font-style: italic;
  letter-spacing: 3px;
  padding: 10px;
  background: linear-gradient(to right, #c1566a, #86b9d8, #c1566a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.write-reflection {
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  background: linear-gradient(to right, #c1566a, #86b9d8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 15px;
}

.prompt {
  font-family: 'Yusei Magic', sans-serif;
  text-align: center;
  font-size: 25px;
  color: #1f1e1e;
  color: #86b9d8;
  text-shadow: .1px .1px .1px #233744;
  padding-bottom: 5px;
}

.reflection-input {
  padding-top: 10px;
  border-radius: 5px;  
  box-shadow: 0 2px 5px rgba(107, 104, 104, 0.1); 
  width: calc(100% - 30px);
  font-size: 20px;
}


.reflection-content {
  width: 100%; 
  max-width: 800px; 
  margin: 0 auto; 
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post.card {
  margin: 10px;
  padding: 15px;
  background-color: #faf6ea;  
  border-radius: 5px;  
  box-shadow: 0 2px 5px rgba(0,0,0,0.1); 
  width: calc(100% - 30px);
}

.reflection-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto; 
  background: none; 
  width: 100%; 
  box-sizing: border-box; 
  font-family: 'Yusei Magic', Arial, sans-serif;
}

.button-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 99%;  
}

.anonymous-label {
  display: flex;
  align-items: center;
  font-family: 'Yusei Magic', Arial, sans-serif;
  margin-right: 10px;
  color: #86b9d8;
  font-size: 22px;
  text-shadow: .1px .1px .1px #233744;
}


.profile-image {
  width: 80px; 
  height: 80px; 
  border-radius: 50%;
  margin-right: 20px; 
  margin-top: 20px;
  object-fit: cover; 
}

.post-header {
  display: flex;
  align-items: center; 
  margin-bottom: 10px; 
}

.post-author, .post-text {
  display: inline-block; 
  vertical-align: top; 
  font-family: 'Yusei Magic', Arial, sans-serif;
  color: #c1566a;
  text-shadow: .1px .1px .1px #632732;
}


.post-author {
  font-size: 30px;
  margin-top: 20px;
  margin-left: 2px;
}

.post-text {
  padding: 20px;
}

.submit-button {
  margin-top: 15px;
  background: #ecc1cb;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  border: none;
  margin-right: 0.5em;
  transition: 0.15s;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 24px;
  font-family: 'Yusei Magic';
  margin-bottom: 30px;
}

.submit-button:hover {
  background: #86b9d8;
  color: white;
}

.submit-button:disabled {
  cursor: not-allowed;
}
