body {
  font-family: 'Yusei Magic', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  padding: 20px;
  margin-top: 10px;
}

.about-container, .faq-container, .contact-container {
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(212, 163, 115, 0.171);
}

.about-container {
  margin-left: -120px;
}

.about-img {
  margin-left: 100px;
}

.topic, .moods {
  padding: 8px 20px;
  gap: 4px;
  margin: 5px;
  background: rgba(212, 163, 115, 0.4);
  border: 2px solid #000000;
  border-radius: 32px;
}

.dashButton {
  margin: 2%;
  background-color: #c7e3d0;
  border: none;
  padding: 5vh;
  border-radius: 123px;
  font-size: 1.5em;
}

.next {
  width: 1.5em;
}

.profile-heading {
  margin-bottom: 0px;
}

.subtext {
  color: #979CA5;
  margin-top: 0px;
}

.button {
  background: #BBE6CA;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  border: 1px solid #BBE6CA;
  margin-right: 0.5em;
  transition: 0.15s;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}

.button:hover {
  background: #b3d5be;
}

.card {
  width: 18rem;
}

.learn-page-header {
  background-image: url(../src/img/learn-background.png);
}

/* #results {
  display: flex;
  justify-content: center;
  align-items: center;
} */

nav.navbar {
  background-color: #FFF1E6; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
