body {
  font-family: 'Yusei Magic', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.topic, .moods {
  padding: 8px 20px;
  gap: 4px;
  margin: 5px;
  background: rgba(212, 163, 115, 0.4);
  border: 2px solid #000000;
  border-radius: 32px;
}

.dashButton {
  margin: 2%;
  background-color: #c7e3d0;
  border: none;
  padding: 5vh;
  border-radius: 123px;
  font-size: 1.5em;
}

.next {
  width: 1.5em;
}

.profile-heading {
  margin-bottom: 0px;
}

.subtext {
  color: #979CA5;
  margin-top: 0px;
}

.button {
  background: #f6b5b5;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  border: none;
  margin-right: 0.5em;
  transition: 0.15s;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 18px;
  font-family: 'Yusei Magic';

  &:disabled {
    cursor: not-allowed;
  }
}

.button:hover {
  background: #F39E9E;
}

.second-btn {
  background: #ffdd88;
  color: black;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  border: none;
  margin-right: 0.5em;
  transition: 0.15s;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 18px;

  &:disabled {
    cursor: not-allowed;
  }
}

.second-btn:hover {
  color: black;
  background: #fccd7b;
}

.second-btn2 {
  background: #ffdd88;
  padding: 0.375rem 0.75rem;
  border-radius: 0.375rem;
  border: none;
  margin-right: 0.5em;
  transition: 0.15s;
  font-weight: 400;
  line-height: 1.5;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  font-size: 18px;
  font-family: 'Yusei Magic';


  &:disabled {
    cursor: not-allowed;
  }
}

.second-btn2:hover {
  background: #fccd7b;
}

.card {
  width: 18rem;
}

.learn-page-header {
  background-image: url(../src/img/learn-background.png);
}




.answer-choices {
  margin-top: 20px;
  margin-left: -40px;

  li {
    text-decoration: none;
    background-color: #faf6ea;
    list-style: none;
    font-size: 18px;
    border: 1px solid #e9e2cf;
    border-radius: 16px;
    padding: 11px;
    margin-top: 15px;
    cursor: pointer;
    font-family: 'Yusei Magic';
  }

  .selected-answer {
    background-color: #f6b5b5;
    color: #fffaf4;
    border: 1px solid #F39E9E;
  }
}

.footer {
  display: flex;
  justify-content: center;
}